{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="section wf-section">
    <div class="hero2-light">
      <div class="wrap w50-center hero-bottom-margin">
        <div class="hero2-text-wrap">
          <div class="tagline">Welcome to my Portfolio</div>
          <h1 class="h1-jumbo size-39">불확실한 금융시장에서 데이터의가치는 무한하다</h1>
          <a href="company-info.html" target="_blank" class="btn-big back-white-tex-black w-button">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-dark wf-section">
    <div class="wrap w80-50-center">
      <div class="_6-col">
        <div class="feature1-content">
          <h2 class="heading">Daily CPI Solution</h2>
          <div class="decoline decoline-dark"></div>
          <p class="text-16 text-16-60">한국 은행이 월 1회 발표하는 소비자 물가지수 선행 지표 제공서비스입니다.</p>
          <p class="text-14 text-14-30">“Make it simple, but significant.” – Don Draper</p>
          <a href="service-info.html" target="_blank" class="btn btn-outline-dark w-button">KTB 운용역 권장 솔루션</a>
        </div>
      </div>
      <div class="_3-col">
        <div class="feature1-image1 content-one-1"></div>
        <div class="feature1-image2 content-one-2"></div>
      </div>
      <div class="_3-col _3-col-last">
        <div class="feature1-image3 content-one-3"></div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="wrap w80-50-center reverse">
      <div class="_3-col">
        <div class="feature1-image3 content-two-1"></div>
      </div>
      <div class="_3-col margin-0">
        <div class="feature1-image1 content-two-2"></div>
        <div class="feature1-image2 content-two-3"></div>
      </div>
      <div class="_6-col _6-col-last">
        <div class="feature1-content margin-left-80">
          <h2 class="heading-2">True CPI Solution</h2>
          <div class="decoline"></div>
          <p class="text-16 text-16-60">소비자 물가지수의 가중치 등을 조정해 실물 경제를 더 잘 반영 하도록 설계된 자체 CPI 지표 제공 서비스입니다.</p>
          <p class="text-14 text-14-30">“Make it simple, but significant.” – Don Draper</p>
          <a href="service-info.html" target="_blank" class="btn btn-outline-light w-button">가격 전략 및 정책 수립 수요자 권장 솔루션</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-dark wf-section">
    <div class="wrap w80-50-center">
      <div class="_6-col">
        <div class="feature1-content">
          <h2 class="heading-3">NLP Spot Solution</h2>
          <div class="decoline decoline-dark"></div>
          <p class="text-16 text-16-60">주요국 중앙 은행 회의록, WASDE, OPEC 회의록 등 주요 경제 발표 자료를 인공지능이 분석해 제공하는 서비스입니다.</p>
          <p class="text-14 text-14-30">“Make it simple, but significant.” – Don Draper</p>
          <a href="service-info.html" target="_blank" class="btn btn-outline-dark w-button">자산운용역 권장 솔루션</a>
        </div>
      </div>
      <div class="_3-col">
        <div class="feature1-image1 content-three-1"></div>
        <div class="feature1-image2 content-three-2"></div>
      </div>
      <div class="_3-col _3-col-last">
        <div class="feature1-image3 content-three-3"></div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="wrap w80">
      <div class="headline-8-col">
        <div class="tagline">We offer the best</div>
        <h2 class="heading-4">투자</h2>
      </div>
      <div class="content1-items">
        <div class="_3col onlyme">
          <div class="content1-image content-four-1"></div>
          <div class="content1-item-description">
            <div class="decoline"></div>
            <h3 class="heading-5">투자전략</h3>
            <h4 class="sub-head">Daily CPI 솔루션을 활용한 투자 전략</h4>
            <p class="text-14 text-14-60">CPI는 국채 가격에 큰 영향을 미치는 주요 요인입니다.그렇기에 관련 데이터를 많이 확보할수록 시장에서 upper hand를 가질 가능성이 높아집니다.</p>
            <a href="#" class="finans-link-text">자세히 알아보기</a>
          </div>
        </div>
        <div class="_3col onlyme">
          <div class="content1-image content-four-2"></div>
          <div class="content1-item-description">
            <div class="decoline"></div>
            <h3 class="heading-6">투자전략</h3>
            <h4 class="sub-head">블랙스완에 대비하기<br>‍</h4>
            <p class="text-14 text-14-60">가뜩이나 불확실한 금융시장에서 더욱이 예기치 못한 “블랙 스완＂사태가 발생할 수 있습니다.</p>
            <a href="#" class="finans-link-text">자세히 알아보기</a>
          </div>
        </div>
        <div class="_3col onlyme">
          <div class="content1-image content-four-3"></div>
          <div class="content1-item-description">
            <div class="decoline"></div>
            <h3 class="heading-7">Investors’Insight</h3>
            <h4 class="sub-head">CPI와 체감물가의 차이<br>‍</h4>
            <p class="text-14 text-14-60">중앙은행이 발표하는 CPI는 소비자, 혹은 기업이 체감하는 물가와 괴리가 있을 수 있습니다.</p>
            <a href="#" class="finans-link-text">자세히 알아보기</a>
          </div>
        </div>
        <div class="_3col _4-col-last onlyme">
          <div class="content1-image content-four-4"></div>
          <div class="content1-item-description">
            <div class="decoline"></div>
            <h3 class="heading-8">Investors’Insight</h3>
            <h4 class="sub-head">CPI가 갖는 중요성<br>‍</h4>
            <p class="text-14 text-14-60">CPI가 갖는 중요성에 대해 알아보세요.</p>
            <a href="#" class="finans-link-text">자세히 알아보기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-dark wf-section">
    <div class="wrap w50-80">
      <div class="headline-6-col">
        <h2>Our Price</h2>
      </div>
      <div class="content2-items">
        <div class="_3-col">
          <div class="content2-number-wrapper">
            <div class="content2-jumbonumber">01</div>
            <div class="decoline decoline-dark"></div>
            <h3 class="heading-9">Package Name</h3>
            <p class="text-14 text-14-60 package-detail">Package detail1</p>
            <p class="text-14 text-14-60 package-detail">Package detail2</p>
            <p class="text-14 text-14-60 package-detail">Package detail3</p>
            <p class="text-14 text-14-60 package-detail">Package detail4</p>
            <p class="text-14 text-14-60 package-price">Price: 100 USD</p>
            <a href="#" class="price-link-text">자세히 알아보기</a>
          </div>
        </div>
        <div class="_3-col">
          <div class="content2-number-wrapper">
            <div class="content2-jumbonumber">02</div>
            <div class="decoline decoline-dark"></div>
            <h3 class="heading-11">Package Name</h3>
            <p class="text-14 text-14-60 package-detail">Package detail1</p>
            <p class="text-14 text-14-60 package-detail">Package detail2</p>
            <p class="text-14 text-14-60 package-detail">Package detail3</p>
            <p class="text-14 text-14-60 package-detail">Package detail4</p>
            <p class="text-14 text-14-60 package-price">Price: 200 USD</p>
            <a href="#" class="price-link-text">자세히 알아보기</a>
          </div>
        </div>
        <div class="_3-col">
          <div class="content2-number-wrapper">
            <div class="content2-jumbonumber">03</div>
            <div class="decoline decoline-dark"></div>
            <h3 class="heading-10">Package Name</h3>
            <p class="text-14 text-14-60 package-detail">Package detail1</p>
            <p class="text-14 text-14-60 package-detail">Package detail2</p>
            <p class="text-14 text-14-60 package-detail">Package detail3</p>
            <p class="text-14 text-14-60 package-detail">Package detail4</p>
            <p class="text-14 text-14-60 package-price">Price: 300 USD</p>
            <a href="#" class="price-link-text">자세히 알아보기</a>
          </div>
        </div>
        <div class="_3-col _3-col-last">
          <div class="content2-number-wrapper">
            <div class="content2-jumbonumber">04</div>
            <div class="decoline decoline-dark"></div>
            <h3 class="heading-12">Package Name</h3>
            <p class="text-14 text-14-60 package-detail">Package detail1</p>
            <p class="text-14 text-14-60 package-detail">Package detail2</p>
            <p class="text-14 text-14-60 package-detail">Package detail3</p>
            <p class="text-14 text-14-60 package-detail">Package detail4</p>
            <p class="text-14 text-14-60 package-price">Price: 400 USD</p>
            <a href="#" class="price-link-text">자세히 알아보기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="wrap w50">
      <div class="form2">
        <div class="_5-col">
          <div class="form2-image-wrapper content-five-1"></div>
        </div>
        <div class="_7-col _7-col-last">
          <div class="form2-form-section-wrapper">
            <div class="form2-form-wrap w-form">
              <form id="email-form" name="email-form" data-name="Email Form" class="form2-wrapper">
                <div class="tagline">Welcome to Cards 2.0</div>
                <h2 class="form2-headline">고객을 안내하는  금융시장의  등대가 되겠습니다.</h2><label for="Name-4" class="field-label-4">Name</label><input type="text" class="form2-input w-input" maxlength="256" name="Name" data-name="Name" placeholder="이름을 입력해주세요" id="Name"><label for="company-2" class="field-label-3">Company Name</label><input type="text" class="form2-input w-input" maxlength="256" name="company" data-name="company" placeholder="회사명" id="company"><label for="email-4" class="field-label-2">Email</label><input type="email" class="form2-input w-input" maxlength="256" name="email" data-name="email" placeholder="Enter your email" id="email" required=""><label for="Message-2" class="field-label">Message</label><input type="text" class="form2-input w-input" maxlength="256" name="Message" data-name="Message" placeholder="메세지를 입력해주세요" id="Message">
                <div class="form2-buttons-wrapper"><input type="submit" value="보내기" data-wait="Please wait..." class="btn w-button">
                  <div class="signup-account-link">No Account? <a href="#" class="register-link">Register Here</a>
                  </div>
                </div>
              </form>
              <div class="form2-success-message w-form-done"><img src="{% static 'images/big-check2x.png' %}" width="200" alt="success">
                <div class="form2-success-message-text">Thanks for Signing Up!</div>
              </div>
              <div class="form2-error-message w-form-fail">
                <div class="form2-error-message-text">Oops! Something went terribly wrong.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}