{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="company-main wf-section">
    <div class="wrap company-main w-container">
      <div class="_12-col flex-vertical">
        <h1 class="company-bottom-head">서비스 소개</h1>
        <p class="company-bottom-p">유의미 하지만 가공되지 않은 데이터들을 수집해 <br>투자 및 경영 의사 결정에 도움이 될 수 있는 정보로 만들어내는 기업입니다. 무심코 지나치기 쉬운 <br>텍스트,사진 등의 데이터가 금융시장에서 길잡이가 되어줄 수 있는 실마리를 제공할 수 있습니다.</p>
      </div>
    </div>
  </div>
  <div class="section-dark wf-section">
    <div class="wrap w80-50-center">
      <div class="_6-col">
        <div class="feature1-content">
          <h2 class="heading">채권 시장의 필수 <br>지표</h2>
          <h2 class="heading">Daily CPI Solution</h2>
          <div class="decoline decoline-dark"></div>
          <p class="text-16 text-16-60">한국 은행이 월 1회 발표하는 소비자 물가지수 선행 지표제공 서비스입니다.<br>세븐티데이터는 2015년 통계청에서 선정한 460개의 대표 품목 가격 정보 중 290여개 품목을 E-Commerce 사이트에서 발췌하여 CPI 지수를 산정합니다. 이를 통해 물가 지수를 매일 추종하고 고객에게 가장 빠른 인플레이션 데이터를 제공합니다.</p>
          <p class="text-14 text-14-30">“Make it simple, but significant.” – Don Draper</p>
          <a href="#price-table" class="btn btn-outline-dark w-button">KTB 운용역 권장 솔루션</a>
          <a href="#price-table" class="btn btn-outline-dark w-button">가격 문의하기</a>
        </div>
      </div>
      <div class="_3-col">
        <div class="feature1-image1 service-content-one-1"></div>
        <div class="feature1-image2 service-content-one-2"></div>
      </div>
      <div class="_3-col _3-col-last">
        <div class="feature1-image3 service-content-one-3"></div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="wrap w80-50-center reverse">
      <div class="_3-col">
        <div class="feature1-image3 service-content-two-1"></div>
      </div>
      <div class="_3-col margin-0">
        <div class="feature1-image1 service-content-two-2"></div>
        <div class="feature1-image2 service-content-two-3"></div>
      </div>
      <div class="_6-col _6-col-last">
        <div class="feature1-content margin-left-80">
          <h2 class="heading-2">인플레이션의 방향을<br>가리키는 나침반</h2>
          <h2 class="heading-2">True CPI Solution</h2>
          <div class="decoline"></div>
          <p class="text-16 text-16-60">소비자 물가지수의 가중치 등을 조정해 실물 경제를 더 잘 반영하도록 설계된 자체 CPI 지표 제공 서비스입니다.중앙은행이 발표하는 CPI 지표는 소비 트렌드, 기술발전 등을 고려해 선정 품목이 주기적으로 바뀌나 때로는 그 속도가 충분히 빠르지 않은 경우가 있습니다. 본 솔루션을 통해 실물 경제를 더 잘 반영하도록 설계된 인플레이션 데이터를 확인하세요</p>
          <p class="text-14 text-14-30">“Make it simple, but significant.” – Don Draper</p>
          <a href="#price-table" class="btn btn-outline-light w-button">가격 전략 및 정책 수립 수요자 권장 솔루션</a>
          <a href="#price-table" class="btn btn-outline-light w-button">가격 문의하기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-dark wf-section">
    <div class="wrap w80-50-center">
      <div class="_6-col">
        <div class="feature1-content">
          <h2 class="heading-3">가장 빠른 보고서 <br>분석 제공</h2>
          <h2 class="heading-3">NLP Spot Solution</h2>
          <div class="decoline decoline-dark"></div>
          <p class="text-16 text-16-60">주요국중앙은행 회의록, WASDE, OPEC 회의록 등 주요 경제 발표 자료를 인공지능이 분석해 제공하는서비스입니다.<br>NLP기술로 구현된 본 서비스를 통해 주요 금융정책 당국의 발표 자료및 회의록이 발표된 순간, 관련자료를 순식간에 분석하여 주요한 정책 및 기조 변화가 감지되는지,혹은 기존의 스탠스가 유지되는 지 등의 유의미한 데이터를확인해보세요.</p>
          <p class="text-14 text-14-30">“Make it simple, but significant.” – Don Draper</p>
          <a href="#price-table" class="btn btn-outline-dark w-button">자산운용역 권장 솔루션</a>
          <a href="#price-table" class="btn btn-outline-dark w-button">가격문의하기</a>
        </div>
      </div>
      <div class="_3-col">
        <div class="feature1-image1 service-content-three-1"></div>
        <div class="feature1-image2 service-content-three-2"></div>
      </div>
      <div class="_3-col _3-col-last">
        <div class="feature1-image3 service-content-three-3"></div>
      </div>
    </div>
  </div>
  <div id="price-table" class="company-main wf-section">
    <div class="wrap company-main w-container">
      <div class="_12-col flex-vertical">
        <h1 class="company-bottom-head">가격 문의하기</h1>
        <p class="company-bottom-p">혁신과 다각적 시각을 기치로 세븐티데이터는 다양한 상품을 개발 중에 있습니다.<br>맞춤형 솔루션 제작 의뢰는 이메일로 부탁드립니다.<br>sales@seventydata.com</p>
      </div>
    </div>
  </div>

{% endblock %}