{% extends 'base.html' %}
{% block title %}Insight{% endblock %}
{% block content %}
<div class="content-notice-board">
    <div class="content-width">
      <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="content-tabs contetn-height w-tabs">
        <div class="top-content w-tab-menu">
          <a data-w-tab="Tab 1" data-w-id="cd3300b4-cc6a-2570-fe78-2aa75253cb51" class="top-content-1 w-inline-block w-tab-link w--current">
            <div>Insight</div>
          </a>
          <a data-w-tab="Tab 2" data-w-id="cd3300b4-cc6a-2570-fe78-2aa75253cb54" class="top-content-2 w-inline-block w-tab-link">
            <div>투자전략</div>
          </a>
          <a data-w-tab="Tab 3" data-w-id="cd3300b4-cc6a-2570-fe78-2aa75253cb57" class="top-content-3 w-inline-block w-tab-link">
            <div>미디어</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="list-width w-tab-pane w--tab-active">
            <ul role="list" class="list w-list-unstyled">
              <li class="list-header">
                <div class="left-text">글제목</div>
                <div class="right-text">작성일</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
            </ul>
          </div>
          <div data-w-tab="Tab 2" class="list-width w-tab-pane">
            <ul role="list" class="list-2 w-list-unstyled">
              <li class="list-header">
                <div class="left-text">글제목</div>
                <div class="right-text">작성일</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
            </ul>
          </div>
          <div data-w-tab="Tab 3" class="list-width w-tab-pane">
            <ul role="list" class="list-3 w-list-unstyled">
              <li class="list-header">
                <div class="left-text">글제목</div>
                <div class="right-text">작성일</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
              <li class="list-content">
                <a href="comunity-link-page.html" class="left-link-text w-inline-block">
                  <div>여러 투자자들이 추천하거나 행하고 있는 투자 전략, 그들의 인사이트</div>
                </a>
                <div class="right-text-bottom">2021. 9. 21.</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
<!--      <div class="button-area">-->
<!--        <a href="#" class="button number-button w-button">&lt;&lt;</a>-->
<!--        <a href="#" class="button number-button w-button">&lt;</a>-->
<!--        <a href="#" class="button number-button w-button">1</a>-->
<!--        <a href="#" class="button number-button w-button">2</a>-->
<!--        <a href="#" class="button number-button w-button">3</a>-->
<!--        <a href="#" class="button number-button w-button">4</a>-->
<!--        <a href="#" class="button number-button w-button">5</a>-->
<!--        <a href="#" class="button number-button w-button">6</a>-->
<!--        <a href="#" class="button number-button w-button">7</a>-->
<!--        <a href="#" class="button number-button w-button">8</a>-->
<!--        <a href="#" class="button number-button w-button">9</a>-->
<!--        <a href="#" class="button number-button w-button">10</a>-->
<!--        <a href="#" class="button number-button w-button">&gt;</a>-->
<!--        <a href="#" class="button number-button w-button">&gt;&gt;</a>-->
<!--      </div>-->
<!--      <div class="button-area device-phone">-->
<!--        <a href="#" class="button number-button w-button">&lt;&lt;</a>-->
<!--        <a href="#" class="button number-button w-button">&lt;</a>-->
<!--        <a href="#" class="button number-button w-button">1</a>-->
<!--        <a href="#" class="button number-button w-button">2</a>-->
<!--        <a href="#" class="button number-button w-button">3</a>-->
<!--        <a href="#" class="button number-button w-button">4</a>-->
<!--        <a href="#" class="button number-button w-button">5</a>-->
<!--        <a href="#" class="button number-button w-button">&gt;</a>-->
<!--        <a href="#" class="button number-button w-button">&gt;&gt;</a>-->
<!--      </div>-->
    </div>
  </div>
{% endblock %}